body {
    margin: 0;
    padding: 0;
    background-color: white;
}

/* Corpo (Centralizar o formulário)*/

.corpo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.corpo p {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    width: 150pt;
    padding: 3px;
    text-align: center;
    border-color: #1d3ae2;
    border-style: outset;
    text-decoration: none;
    color: white;
    background: #051885;
    text-shadow: 3px 3px 3px black;
}

/* Formulário */

.form {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 6px;
    justify-content: space-between;
    padding: 20pt 35pt;
}

.form label,
input {
    font-size: 12pt;
    height: 20pt;
}

.form input {
    margin-bottom: 8pt;
}

.form .botao {
    width: 200pt;
    height: 25pt;
    margin-top: 8pt;
}

#voltar {
    text-decoration: none;
    display: block;
    background-color: rgba(64, 0, 116, 0.753);
    padding: 5pt;
    margin-top: 10px;
    border-radius: 5px;
    color: black;
    font-size: 15pt;
}

#voltar:hover {
    opacity: 0.7;
}

#erro {
    margin: 0;
    padding: 0;
    color: red;
    font-size: 8pt;
}

/* Cabeçalho e Rodapé*/

.cabecalho {
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    background-color: #390071;
    border-bottom: black 3px solid;
    width: 100%;
}

#logo {
    margin: 0 auto;
    padding: 10px;
}

#logo img {
    height: 100px;
}

.rodape {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 5vh;
    width: 100%;
    background-color: #390071;
    border-top: black 3px solid;
    color: white;
    font-size: 20px;
}

/* Menu */

#titulo {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    text-align: center;
    border-color: #1d3ae2;
    border-style: outset;
    text-decoration: none;
    color: white;
    background: #051885;
    text-shadow: 3px 3px 3px black;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 6px;
    padding: 20pt 35pt;
    background-color: rgb(177, 0, 177);
}

.menu .botao-menu {
    width: 200pt;
    margin-top: 10pt;
    margin-bottom: 10pt;
    padding: 5px 5px;
    text-align: center;
    font-size: 20px;
    border-color: #390071;
    border-style: outset;
    text-decoration: none;
    color: #FFFFFF;
    background: #390071;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px rgb(183, 59, 255), 0 -10px 20px rgb(43, 0, 110), 0 -18px 40px rgb(72, 13, 90);
}