body{
    margin: 0;
    padding: 0;
}

/* Corpo (Centralizar o formulário)*/ 

.corpo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

/* Formulário */

.form{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 6px;
    justify-content: space-between;
    padding: 20pt 35pt;
}

.form label, input{
    font-size: 12pt;
    height: 20pt;
}

.form input{
    margin-bottom: 8pt;
}

.form .botao{
    width: 200pt;
    height: 28pt;
    margin-top: 10pt;
    color: white;
    background-color: black;
    border-radius: 10px;
}

#link-cadastro{
    font-size: 10pt;
    text-decoration: none;
    color: gray;
}

#link-cadastro:hover{
    color: rgb(45, 180, 174);
}

#link-cadastro:active{
    color: rgb(16, 84, 80)
}

#erro{
    margin: 0;
    padding: 0;
    color: red;
    font-size: 12pt;
}

/* Cabeçalho e Rodapé*/

.cabecalho{
    background-color: lightgreen;
    border-bottom: 2px solid black;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    height: 8vh;
    width: 100%;
}

#voltar{
    text-decoration: none;
    margin-left: 40pt;
    display: block;
    background-color: rgba(202, 231, 202, 0.503);
    padding: 5pt;
    border: 2px rgb(167, 236, 167) solid;
    border-radius: 5px;
    color: black;
    font-size: 15pt;
}

#voltar:hover{
    opacity: 0.5;
}

#logo{
    margin: 0 auto;
}

#logo img{
    width: 150px;
    margin-right: 75pt;
}

.rodape{
    background-color: lightgreen;
    border-top: 2px solid black;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 5vh;
    width: 100%;
}

/* Menu */

.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 6px;
    padding: 20pt 35pt;
}

.menu .botao-menu{
    width: 200pt;
    margin-top: 10pt;
    margin-bottom: 10pt;
    padding: 5px 5px;
    text-align: center;
    border-color: black;  
    border-style: outset;
    text-decoration: none;
    color: #FFFFFF;
    background: #333333;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00; 
}